.advantages {
    margin-top: 120px;
    height: 670px;

    &__cards {
        margin-top: 56px;
        border-radius: 30px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    &__card {
        width: 274px;
        height: 354px;
        gap: 40px;
        flex: 1;
        padding: 20px;
        background-color: #E8CDCD;
        border-radius: 30px;


        &-head {
            width: 241px;
            height: 72px;
            padding: 12px, 16px, 12px, 16px;
            gap: 10px;
            margin-bottom: 40px;
            background-color: white;
            border-radius: 30px;
            border: none;
        }

        &-header {
            position: relative;
            transform: translate(10px, 10px);
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #1F1C1C;
            line-height: 24.3px;

        }

        &-descr {
            width: 258px;
            height: 194px;
            background-color: white;
            border-radius: 30px;
            transform: translate(-12px, 0px);

        }

        &-text {
            width: 258px;
            height: 194px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;


        }
    }
}